body {
  background-image: url("https://previews.123rf.com/images/llesia/llesia1508/llesia150800072/43859398-nahtlose-abstrakte-wellige-handgezeichnete-muster-endless-abstrakte-muster-vorlage-f%C3%BCr-das-design-und-dek.jpg");
  background-color: #cccccc;
  background-size: 40%;
  font-family: 'Lato', sans-serif;
  color: lightslategray;
  font-size: 15px;
  line-height: 25px;
}

h1,h2 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  line-height: 50px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #4B1E22;
}

a:hover {
  color: #F84031;
}


.card-white {
  background: snow;
  padding: 30px;
  border: solid;
  margin: 40px auto;
  border-color: rgba(75, 30, 34, .3);
  border-radius: 60px;
  box-shadow: 0px 0px 20px #4B1E22;
  border-width: 20px;
}

.card-white h3 {
  font-size: 50px
}


.card-white:hover {
  color: #4B1E22;
  border-color: rgba(75, 30, 34, .5);
  background-color: ghostwhite
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.img-circle {
  border-radius: 50%;
  box-shadow: 2px 2px 20px #4B1E22;
}


.text-center {
  text-align: center;
}


.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}

.social-media {
  font-size: 40px;
}



@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
